{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "minify": true,
                "transpileTemplateLiterals": true,
                "pure": true,
                "displayName": true,
                "preprocess": false
            },
            "inline-react-svg"
        ],
        ["prismjs", {
            "languages": ["javascript", "css", "markup", "jsx"],
            "plugins": ["line-numbers"],
            "theme": "okaidia",
            "css": true
        }]
    ]
}
